In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Advertising.csv')

In [3]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [4]:
X = df.drop('sales',axis=1)

In [5]:
y = df['sales']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

## Cross Validate

In [10]:
from sklearn.linear_model import Ridge

### Case 1 (alpha=100)

In [11]:
model = Ridge(alpha=100)

In [12]:
from sklearn.model_selection import cross_validate

In [15]:
score = cross_validate(model, X_train, y_train, cv=10, scoring = [
    'neg_mean_squared_error',
    'neg_mean_absolute_error'
])

In [17]:
score

{'fit_time': array([0.00109076, 0.00227809, 0.00102377, 0.00050974, 0.00102043,
        0.        , 0.00099754, 0.00099754, 0.00099707, 0.00104976]),
 'score_time': array([0.00090241, 0.00071287, 0.00100136, 0.00102282, 0.0010004 ,
        0.00099993, 0.        , 0.        , 0.00099826, 0.        ]),
 'test_neg_mean_squared_error': array([ -6.06067062, -10.62703078,  -3.99342608,  -5.00949402,
         -9.14179955, -13.08625636,  -3.83940454,  -9.05878567,
         -9.05545685,  -5.77888211]),
 'test_neg_mean_absolute_error': array([-1.8102116 , -2.54195751, -1.46959386, -1.86276886, -2.52069737,
        -2.45999491, -1.45197069, -2.37739501, -2.44334397, -1.89979708])}

In [19]:
pd.DataFrame(score).mean()

fit_time                        0.000996
score_time                      0.000664
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

### Case 1 (alpha=1)

In [21]:
model = Ridge(alpha=1)

In [22]:
score = cross_validate(model, X_train, y_train, cv=10, scoring = [
    'neg_mean_squared_error',
    'neg_mean_absolute_error'
])

In [28]:
pd.DataFrame(score).mean()

fit_time                        0.000614
score_time                      0.000503
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

### Note: From two of these cases, we got the lower error for alpha = 1. That's why we're taking alpha = 1 for our final test prediction

In [24]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [25]:
y_test_predicted = model.predict(X_test)

In [26]:
from sklearn.metrics import mean_squared_error

In [27]:
mean_squared_error(y_test, y_test_predicted)

2.3190215794287514