## Data Science

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Advertising.csv')

In [3]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [4]:
X = df.drop('sales',axis=1)

In [5]:
y = df['sales']

## Train and Other split of the main dataframe

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_other, y_train, y_other = train_test_split(X, y, test_size=0.3, random_state=101)

## Spliting the Other to test and validation

In [8]:
X_val, X_test, y_val, y_test = train_test_split(X_other, y_other, test_size=0.5, random_state=101)

## Scaling

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_val = scaler.transform(X_val)
X_test = scaler.transform(X_test)

## Model Training

In [11]:
from sklearn.linear_model import Ridge

## Case 1: Alpha = 100

In [12]:
model = Ridge(alpha=100)

In [13]:
model.fit(X_train,y_train)

Ridge(alpha=100)

In [14]:
y_val_predicted = model.predict(X_val)

In [15]:
from sklearn.metrics import mean_squared_error

In [16]:
mean_squared_error(y_val, y_val_predicted)

7.320101458823869

## Case 2: Alpha = 1

In [17]:
model = Ridge(alpha=1)

In [18]:
model.fit(X_train,y_train)

Ridge(alpha=1)

In [19]:
y_val_predicted = model.predict(X_val)

In [20]:
mean_squared_error(y_val, y_val_predicted)

2.3837830750569853

### We can see Alpha = 1 for ridge model giving lower MSE than alpha = 100. That's why we're taking this and now we will predict over test data

In [21]:
y_test_predicted = model.predict(X_test)

In [22]:
mean_squared_error(y_test, y_test_predicted)

2.254260083800517